html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
}

h3 {
  margin: 1.5em;
  padding: 3em,
}

.color{
  color:red;
}

.navigation {
  background-color: rgb(236, 232, 232);
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
}

.car{
  display: flex;
  flex-direction: column;
  margin: 0px 10%;
  text-align: center;
}

.photos{
  display: flex;
  justify-content: center;
  margin: 20px;
  align-content: center;
}

.img1, .img2 {
  margin: 10px;
}

.words {
  display: flex;
  justify-content: center;
  margin: 0.5em;
  padding: 1em;
  text-align: center; 
  overflow-wrap: normal;
}

.text, .text2 {
  display: flex;
  flex-direction: column;
}

.para2 {
  display: flex;
}

.para2 p {
  width: 300px;
}

.para {
  width: 150px;
}

h5 {
  text-align: start;
}

.text h5 {
  color: red;
}